<nav class="navbar">
  <a href="/" class="logo">
    <img ngSrc="assets/logo.svg" alt="GoBarber" width="124" height="24" />
  </a>

  <div class="right-options">
    <button class="notifications-button"><i [class]="UsedIconsNames.BELL"></i></button>
    <div class="profile-container">
      <button class="profile-button">
        <img ngSrc="https://github.com/paulopbomfim.png" alt="Paulo" width="32" height="32" />
        <span class="label-s">Paulo B.</span>
      </button>
      <button class="sign-out-button"><i [class]="UsedIconsNames.SIGN_OUT"></i></button>
    </div>
  </div>
</nav>
