.filled {
  color: var(--text-invert);
  background-color: var(--accent-brand);
  box-shadow: 0 0.25rem 1.25rem var(--accent-brand-shadow);
}

.filled:hover {
  background-color: var(--accent-brand-dark);
  box-shadow: 0 4px 20px var(--accent-brand-dark-shadow);
}

.outline {
  color: var(--text-heading);
  border: 1px solid var(--border-light);
  background: none;
}

.outline:hover {
  border: 1px solid var(--background-dark);
  background-color: var(--background-dark);
}

.light {
  color: var(--text-heading);
  background-color: var(--background-surface);
}

.light:hover {
  background-color: var(--background-dark);
}

button {
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

button i {
  font-size: 1.25rem;
}
